#search_user{
    transition-duration: 0.4s;
    }
  
  #search_user:hover{
  transform: scale(1.1);
  }

  .ALLSEARCH{
    background: #63ade9;
    height: 100vh;
  }
  
  #search_user{
    transition-duration: 0.4s;
    }
  
  #search_user:hover{
  transform: scale(1.1);
  }
  
  #search_button{
    transition-duration: 0.4s;
  }
  
  #search_button:hover{
    transform: scale(1.1);
  }
  
  